<div class="titulo-garcon">
    <h2>Pedido-Garçon</h2>
</div >
<div class="contenedor-pedido">
<form class="contenedor-formulario" >
    <div class="input-element">
        <label for="mesa">Número de mesa</label>
        <input type="number" name="mesa">
    </div>
    <!--<div class="input-element">
        <label for="pedido">Número de pedido</label>
        <input type="number" >
      </div>-->
    <div class="input-element">
        <label for="producto">Número de produto</label>
        <input type="number">
      </div>
    <button class="cargar">Cargar</button>
</form>
    <div class="panel panel-default">
      <div class="panel-heading">Pedidos Entrada</div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <th>Id Mesa</th>
            <th>Id Pedido</th>
            <th>Producto</th>
            <th>Acciones</th>
          </thead>
            <!--<tbody>
            <tr *ngFor="let pedido of pedidos">
              <td>{{ mesa.id }}</td>
              <td>{{ pedido.id }}</td>
              <td>{{ product.id }}</td>
              <td> 
                <a class="btn btn-sm btn-primary" routerLink="/Pedido-Garçon/{{producto.id}}/edit">Editar</a>
                <a class="btn btn-sm btn-danger" (click)="remove(pedido)">Eliminar</a>
              </td>
            </tr>
          </tbody>-->
        </table>
    </div>
</div>
